/*header*/
$primary-color: #8E6C49;

/*Fondo pagina-web*/

$fondo-cuerpo: #000000;

/*fuente de h1 (servicios, nosotros, encontranos, contacto)*/

$font-primary:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/*fuente de h2 */

$font-secundary:"Cedarville Cursive", cursive;